<header>
  <ng-container [ngTemplateOutlet]="overrideHeaderTpl||defaultHeader"></ng-container>
</header>
<article>
  <ng-container [ngTemplateOutlet]="overrideContentTpl||defaultContent"></ng-container>
</article>
<footer>
  <ng-container [ngTemplateOutlet]="overrideFooterTpl||defaultFooter"></ng-container>
</footer>
<ng-template #defaultHeader>
  <h1>Header</h1>
</ng-template>
<ng-template #defaultContent>
  Main content
</ng-template>
<ng-template #defaultFooter>
  <h3>Footer</h3>
</ng-template>
